* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

.main-container {
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: lightgray;
}

.login-container {
    background-color: white;
    padding: 3em 4em;
    border-radius: 8px;
    box-shadow: 3px 3px 8px 0px rgba(83, 83, 83, 0.634);
}

.login-container > h1 {
    margin-bottom: 1em;
    text-align: center;
}

.input-container {
    margin: .5em 0;
}

.input-container > label {
    display: inline-block;
    width: 80px;
}

.input-container > input {
    height: 35px;
    width: 200px;
    font-size: .8rem;
    border: 0;
    outline: 0;
    background-color: rgba(211, 211, 211, 0.392);
    padding: .5em;
    border-radius: 5px;
}

.input-container > input:focus {
    background-color: rgba(180, 178, 178, 0.392);
}

.login-container > button {
    padding: .6em 1.1em;
    border: 0;
    border-radius: 5px;
    background-color: rgb(74, 141, 228);
    color: white;
    cursor: pointer;
    transition: background-color .2s ease;
    margin: .4em 1em;
    margin-left: 0;
}

.login-container > button:hover {
    background-color: rgb(64, 122, 199);
}

.login-container > button:active {
    background-color: rgb(74, 141, 228);
}